<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My styles -->
    <link rel="stylesheet" href="/css/app.css">

    <title>Oracle One</title>
</head>
<body>
    <!-- Inicio header -->
    <header class="header">
        <!-- Navbar -->
        <div class="flex center-element space-between container">
            <div class="p-2 box my-2">
                <a href="/index.html">JH</a>
            </div>
            <ol class="flex g-4">
                <li><a href="#">CV</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Courses&Experice</a></li>
            </ol>
        </div>
        <!-- End Navbar -->
        <div class="header-text container">
            <h1>Software Enginner</h1>
            <div class="typing-animation row">
                <p class="typing-text"></p>
                <p class="blinking"></p>
            </div>
        </div>
    </header>

    <main>
        <!-- Inicio de tarjetas de curso de Logica de programacion -->
        <section class="cards-container">
            <ul class="cards-evidence">
                <li>
                    <h4>Logica de Programación - Primeros Pasos.</h4>
                    <div class="task-list">
                        <a href="./Logica de programacion - Primeros pasos/index.html">Index</a>
                        <a href="./Logica de programacion - Primeros pasos/imprimir_edades2.html">imprimir_edades2</a>
                        <a href="./Logica de programacion - Primeros pasos/imc.html">IMC</a>
                        <a href="./Logica de programacion - Primeros pasos/concatenacion.html">Concatenación</a>
                        <a href="./Logica de programacion - Primeros pasos/calculo_consumo.html">Juego secreto</a>
                    </div>
                </li>
                <li>
                    <h4>Logica de Programación - Conceptos primordiales.</h4>
                    <div class="task-list">
                        <a href="./Logica de programacion - Conceptos primordiales/estrellas.html">Estrellas</a>
                        <a href="./Logica de programacion - Conceptos primordiales/futbol.html">Futbol</a>
                        <a href="./Logica de programacion - Conceptos primordiales/Imc_mejorado.html">IMC - Mejorado</a>
                        <a href="./Logica de programacion - Conceptos primordiales/juego_de_adivinacion.html">Juego de Adivinacion</a>
                        <a href="./Logica de programacion - Conceptos primordiales/juego_secreto.html">Juego secreto</a>
                        <a href="./Logica de programacion - Conceptos primordiales/juego_secreto_v2.html">Juego Secreto v2</a>
                        <a href="./Logica de programacion - Conceptos primordiales/juego_secretro_v3.html">Juego Secreto v3</a>
                        <a href="./Logica de programacion - Conceptos primordiales/media_edades_familia.html">Media Edades Familia</a>
                        <a href="./Logica de programacion - Conceptos primordiales/mundial_fifa.html">Mundial FIFA</a>
                        <a href="./Logica de programacion - Conceptos primordiales/Tabla Multiplicar.html">Tabla Multiplicar</a>
                    </div>
                </li>
                <li>
                    <h4>Logica de Programación - Practicando con juegos y animaciones.</h4>
                    <div class="task-list">
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/programa.html">Bandera</a>
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/creeper.html">Creeper</a>
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/escuadra.html">Escuadra</a>
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/programa_2.html">Bandera v2</a>
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/flor.html">Diseñando una flor</a>
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/programa_3.html">Metodo Onclick</a>
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/programa_4.html">Animacion Circulo</a>
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/programa_5.html">Juego Diana</a>
                        <a href="./Logica de programacion - Practicando con juegos y animaciones/draw.html">Diseñando con el mouse</a>
                    </div>
                </li>
                <li>
                    <h4>HTML5 y CSS3 Parte 1</h4>
                    <div class="task-list">
                        <a href="./HTML5 y CSS3 Parte 1/index.html">Pagina barberia.</a>
                        <a href="./HTML5 y CSS3 Parte 1/productos.html">Productos de Barberia.</a>
                        <a href="./HTML5 y CSS3 Parte 1/contacto.html">Contacto de Barberia.</a>
                    </div>
                </li>
            </ul>
        </section>
        <!-- Final de tarjetas de curso de Logica de programacion -->
    </main>

    <footer>

    </footer>
    <script type="module" src="/js/app.js"></script>
</body>
</html>