@use 'base/var' as v;
@use 'base/mixins' as m;

.bar-container{
    background-color: #cccccc;
    padding: 2rem;
    em strong{
        color: red;
    }
}

.bar-diferenciales{
    background-color: #fff;
    padding: 2rem;
    ul{
        text-align: start;
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-right: 15%;
        li{
            font-style: italic;  
        }
    }
    img{
        width: 50%;
        display: inline-block;
    }
}

.principal-title{
    padding-left: 3.8rem;
    margin-top: 2rem;
}

