
.contact-form{
    max-width: 94rem;
    margin: 0 auto;

    form{
        margin: 4rem auto;
    }
    label,
    input,
    textarea,
    p{
        display: block;
        margin: 0 1rem;
        padding: 1rem;
        width: 50%;
        margin: .5rem auto;
    }
    textarea{
        resize: none;
    }

}

