<canvas width="600" height="400">

</canvas>
<script>
    const myWindow = document.querySelector("canvas");
    const pincel = myWindow.getContext("2d");

    pincel.fillStyle = "lightgrey";
    pincel.fillRect(0,0, 600, 400);

    let x = 20;
    let flag = 1;

    let xPos, yPos;
    let radio = 10;

    function drawBakcground(){
        pincel.fillStyle = "lightgrey";
        pincel.fillRect(0,0, 600, 400);
    }

    function dibujarCirculo(x, y, radio, color) {

        pincel.fillStyle = color;
        pincel.beginPath();
        pincel.arc(x, y, radio, 0, 2*Math.PI);
        pincel.fill();
    }

    function cleanScreen(){
        pincel.clearRect(0,0,600,400);
    }
    function update(){
        cleanScreen();
        drawBakcground();
        xPos = Math.floor(Math.random()*540);
        yPos = Math.floor(Math.random()*340);
        createObjective(xPos, yPos, radio);
    }

    function createObjective(x, y, radio){

        dibujarCirculo(x, y, radio + 20, "red");
        dibujarCirculo(x, y, radio + 10, "white");
        dibujarCirculo(x, y, radio, "red");
    }
    setInterval(update, 1000);

    function disparar(e){
        let x = e.pageX - myWindow.offsetLeft;
        let y = e.pageY - myWindow.offsetTop;

        if(
            (x < xPos + radio) &&
            (x > xPos - radio) &&
            (y < yPos + radio) &&
            (y > yPos - radio)
        ){
            alert("Tiro certero");
        }

    }
    myWindow.onclick = disparar;
</script>